<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/Anime-Planet/views/anime-library.hbs">Anime Library</a>
<a href="/Anime-Planet/views/login.hbs">Login</a>
<a href="/Anime-Planet/views/signup.hbs">Signup</a>