<h1>Add Anime</h1>

<form method="post" action="/anime/create">
    <label for="name">name
        <input name="name" type="text"/>
    </label>

    <label for="occupation">occupation
        <input name="occupation" type="text"/>
    </label>

    <label for="catchPhrase">catch phrase
        <input name="catchPhrase" type="text"/>
    </label>
    <button>Create an Anime</button>
</form>